/.quarto/
search.json
*.html
*.css
*.js
*.woff
DEADJOE

# Unignore all files in README_files (including subfolders)
!README.html
!README_files/
!README_files/**
# Or, more concise if you want only .js in README_files and subfolders:
!README_files/**/*.js